@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TASK 3</h1>
    <p>ajax call yöntemi ile post edilecek sayfa için<a href="https://localhost:5001/Home/Contact/"> tıklayın</a>.</p>
</div>